.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation Styles */
/* Navigation Styles */
nav {
  background-color: #C7D0C8; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px; /* Increased padding for better spacing */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styling for the Navbar Brand (EmotiChat) */
.navbar-brand {
  font-size: 30px; /* Larger font size for prominence */
  color: #333; /* Default text color */
  text-decoration: none; /* Remove underlines */
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navbar-brand:hover {
  color: #95AF9C; /* Updated accent color on hover */
}

/* Styling for Navbar Links */
.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: #333;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navbar-link:hover {
  color: #95AF9C; /* Updated accent color on hover */
}